@import 'tailwindcss';

@theme inline {
  --font-onest: 'Onest Variable', sans-serif;
  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);

  --breakpoint-xs: 30rem;
}

:root {
  --foreground: oklch(0.985 0 0);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --border: oklch(1 0 0 / 10%);
  --border-hsl: hsl(240, 3.7%, 15.9%);
}

.bg-background {
  background:
    radial-gradient(ellipse 80% 80% at 20% 0%, rgba(236, 72, 153, 0.15), transparent),
    radial-gradient(ellipse 80% 80% at 80% -10%, rgba(244, 244, 245, 0.12), transparent),
    rgb(9 9 11);
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply font-onest scroll-smooth;
  }
  body {
    @apply text-foreground;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--border-hsl);
    border-radius: 5px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--border-hsl) transparent;
  }
}
